{% extends "students/base.html" %}

{% block sidebar %}
    <ul>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        <li><a href="{% url 'students:departmentlist' %}">Departments</a></li>
        <li><a href="{% url 'students:subjectlist' %}">Subjects</a></li>
        <li><a href="{% url 'students:studentlist' %}">Students</a></li>
        <li><a href="{% url 'students:student_create' %}">Create</a></li>
    </ul>
{% endblock%}

{% block content %}
    <h2>Hi {{full_name}} You are now Logged in</h2>
    <p> Click <a href="{% url 'accounts:logout' %}">here </a>to logout</p>
{% endblock %}