{% extends "students/base.html" %}
{% load staticfiles %}
{% block content %}

<h2>Department {{department.dept_name}}</h2>

    <ol>
        {% for subject in page_obj %}
            <li> {{subject.sub_name}}</li>
        {% endfor %}
    </ol>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">previous</a>
            {% endif %}

            <span class="current">
                Page {{page_obj.number}} of {{paginator.num_pages}}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
        </span>
    </div>

    <img src="{% static 'students/pictures/python.jpeg' %}"/>

{% endblock %}